@import "./fonts.css";

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

canvas {
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}

.fps {
  margin: 0;
  font-family: "Google Sans";
  font-weight: 600;
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: white;
}
